<form action="" class="form-group" (submit)="save($event)">
  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Name</span>
    </div>
    <input type="text"
           class="form-control {{(notCompleted && !company.name)? 'not-completed': ''}}"
           name="companyName"
           [(ngModel)]="company.name">
    <!--<p *ngIf="(notCompleted && !company.name)" class="not-valid-message">Enter company name</p>-->
  </div>

  <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Website</span>
    </div>
    <input type="text"
           class="form-control {{(notCompleted && !company.website)? 'not-completed': ''}}"
           name="companyWebsite"
           [(ngModel)]="company.website">
    <!--<p *ngIf="(notCompleted && !company.name)" class="not-valid-message">Enter company name</p>-->
  </div>
  <div class="input-group status-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Default status</span>
    </div>
    <ng-select [items]="statuses"
               bindValue="id"
               bindLabel="title"
               [(ngModel)]="statusId"
               [ngModelOptions]="{standalone: true}"
               class="select-status"
    ></ng-select>
  </div>
<div class="text-center">
  <button type="submit" class="btn btn-success">Save</button>
  <button (click)="reset()" class="btn">Cancel</button>
</div>

</form>
