<div class="d-flex justify-content-center">
  <ul class="d-flex flex-column text-center">
    <a draggable="false" routerLink="dashboard" [routerLinkActive]="'active'" class="d-flex flex-column justify-content-center">
      <p id="dashboard"></p>
      <span>Dashboard</span>
    </a>
    <a draggable="false" routerLink="scheduler" [routerLinkActive]="'active'" class="d-flex flex-column justify-content-center">
      <p id="scheduler"></p>
      <span>Scheduler</span>
    </a>
    <a draggable="false" routerLink="map" [routerLinkActive]="'active'" class="d-flex flex-column justify-content-center">
      <p id="map"></p>
      <span>Map</span>
    </a>
  </ul>
</div>
